/* use tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
body {
  font-family: 'Nunito', sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}